* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}

.unhidden {
  visibility: visible;
}
