/* .tile-bg {
  background-image: url(../images/landing-page/tiled-png.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  border: none;
  display: none;
} */
#new_starter_pokemon_page {
  /* display: flex;
  flex-direction: column;
  border: 1 solid black; */
  z-index: 0;
  margin: 0px;  
}

.profTable {
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  background-size: auto;
  width: 100%;
  max-width: 90%;
  height: auto;
  object-fit: cover;
  opacity: 1;
  left: 0;
  margin-left: 50px;
}


.bigBox {
  padding-top: 60px;
}

.content {
  
  height: 1000px;
}

.pokeball {
  /* position: relative; */

  flex-direction: column;
  border: 1 solid black;
  max-width: 100%;
}

.bulbTest, .charTest, .squiTest {
  position: relative;
}

.bulbasaur, .charmander, .squirtle  {
  max-width: 100%;
  position: absolute;
  top: -50%;
  left: 0;
}

/* .moveup {
  max-width: 10%;
  position: relative;
  display: inline;
  top: -30%;
  left: 0;
} */

.pokeballs-group {
  padding-top: 25%;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* left: 107px;
  top: 333px;
  z-index: 1; */
}

.pokeballs-group > div {
  max-width: 22%;
}


.starter-pokemon {
  width: 300px;
}

.starter-pokemon-group {
  position: relative;
  bottom: 0px;
}

.starter-pokemon-group .bulbasaur {
  position: relative;
}

.select-starters-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.select-starters-btn-group > button {
  width: 120px;
}

.select-starters-btn {

}

#starter-pokemon-modal {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

#starter-pokemon-modal img {
  width: 200px;
  margin: 0 auto;
}
#starter-pokemon-modal button {
  margin: 0 auto;
}

#starter-pokemon-modal .button-32 {
  width: 200px;
}

/* BUTTON STYLING */
.button-32 {
  background-color: #b0a684;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 7%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #ffc712;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

