.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 80%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal .modal-title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal .modal-content {
  padding: 1rem;
}

.modal .modal-actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}