.modal {
  z-index: 100;
  background: white;
  border: 5px solid black;
  border-radius: 30px;
  width: 600px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: none;
}

.modal .modal-title {
  margin: 0;
  padding: 1rem;
  color: black;
}

.modal .modal-content {
  padding: 1rem;
}

.modal .modal-actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

/* START OPTIONS MODAL */
.start-nav {
  display: flex;
  flex-direction: column;
}

.start-nav div {
  display: flex;
  justify-content: space-evenly;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.start-btns,
.btn-success {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(255, 222, 78);
  width: 150px;
  padding: 8px 20px;
  border-radius: 25px;
  border: 2px solid black;
  cursor: pointer;
  margin: 20px;
}

.close-btn {
  display: flex;
  justify-content: center;
  padding: 5px 19px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(253, 223, 90);
}

.start-btns:hover,
.close-btn:hover,
.btn-success:hover,
.btn-edit:hover {
  color: white;
  background-color: rgb(253, 214, 42);
  transition: 0.3s;
}

/* lOGIN/SIGNUP MODAL */
.modal-content h2 {
  text-align: center;
}

.modal-content > form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input {
  width: 60%;
  text-align: center;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid rgb(163, 163, 163);
  margin: 5px;
}

.btn-success {
  margin: 10px auto;
}

/* HOW TO PLAY OPTIONS MODAL */
.how-to {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
